---
layout: layout.njk
title: Burnaby Entrepreneurs Toastmasters Club
description: A friendly Wednesday-evening Toastmasters club in Metrotown, Burnaby BC. Practise speaking, get honest feedback, and build a network among entrepreneurial-minded people.
---

{% include "sections/hero.njk" %}
{% include "sections/info-bar.njk" %}
{% include "sections/about.njk" %}
{% include "sections/members.njk" %}
{% include "sections/gala.njk" %}
{% include "sections/gallery.njk" %}
{% include "sections/blog-preview.njk" %}
{% include "sections/attend.njk" %}
